<a href="https://colab.research.google.com/github/Shikigamiii/BSIS_2A_ACTIVITIES-/blob/main/Las_igan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

In [5]:
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [6]:
print(df.shape)

(891, 12)

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [8]:
print(df.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [10]:
rows, cols = df.shape
print(f"There are {rows} rows and {cols} columns.")

There are 891 rows and 12 columns.

In [11]:
missing_data_columns = df.columns[df.isnull().any()]
print(f"Columns with missing data: {missing_data_columns}")

Columns with missing data: Index(['Age', 'Cabin', 'Embarked'], dtype='object')

In [12]:
duplicates = df.duplicated().sum()
print(f"Number of duplicates: {duplicates}")

Number of duplicates: 0

In [13]:
df = df.drop_duplicates()

In [14]:
df['Age'] = df['Age'].fillna(df['Age'].median()).astype(int)

In [15]:
df['Embarked'] = df['Embarked'].fillna('S')  # Fill missing values with 'S' (most common value)
df['Embarked'] = df['Embarked'].astype('category')

In [16]:
df = df[df['Fare'] <= 500]

In [17]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [18]:
min_max_scaler = MinMaxScaler()

In [19]:
df[['Fare']] = min_max_scaler.fit_transform(df[['Fare']])

In [20]:
standard_scaler = StandardScaler()

In [21]:
df[['Age']] = standard_scaler.fit_transform(df[['Age']])

In [22]:
print(df[['Fare', 'Age']].head())

       Fare       Age
0  0.027567 -0.561846
1  0.271039  0.665319
2  0.030133 -0.255055
3  0.201901  0.435225
4  0.030608  0.435225

In [23]:
df.to_csv('cleaned_titanic.csv', index=False)