<a href="https://colab.research.google.com/github/Shikigamiii/BSIS_2A_ACTIVITIES-/blob/main/Mcgyver_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

In [9]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [40]:
print(df.shape)

(888, 12)

In [42]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          686
Embarked         2
dtype: int64

In [45]:
rows, cols = df.shape
print(f"There are {rows} rows and {cols} columns.")

There are 888 rows and 12 columns.

In [46]:
missing_data_columns = df.columns[df.isnull().any()]
print(f"Columns with missing data: {missing_data_columns}")

Columns with missing data: Index(['Cabin', 'Embarked'], dtype='object')

In [47]:
duplicates = df.duplicated().sum()
print(f"Number of duplicates: {duplicates}")

Number of duplicates: 0

In [48]:
df['Age'] = df['Age'].fillna(df['Age'].median()).astype(int)

In [49]:
df['Embarked'] = df['Embarked'].fillna('S')
df['Embarked'] = df['Embarked'].astype('category')

In [50]:
df = df[df['Fare'] <= 500]

In [51]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [56]:
min_max_scaler = MinMaxScaler()
df[['Fare']] = min_max_scaler.fit_transform(df[['Fare']])

In [57]:
standard_scaler = StandardScaler()
df[['Age']] = standard_scaler.fit_transform(df[['Age']])

In [58]:
print(df[['Fare', 'Age']].head())

       Fare       Age
0  0.027567 -0.577761
1  0.271039  0.650737
2  0.030133 -0.270636
3  0.201901  0.420394
4  0.030608  0.420394